[SddmGreeterTheme]
Name=Sweet-Cat
Description=Sweet-Cat sddm theme
Author=Eliver Lara
Copyright=(c) 2020, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Sweet-Cat
Theme-API=2.0
